body {
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100%;
    font-family: 'Santio Bold';
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Santio Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Santio Bold'), url(Santio-Bold.woff) format('woff');
}

h1,
p {
    margin: 0;
    padding: 0
}

.roma {
    background: url(../img/cleo-topper.jpg) center/cover no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.roma-intro {
    width: 32%;
    font-size: 2.9rem;
    margin-left: 8%;
    margin-top: 18%;
}

.roma-intro a {
    text-decoration: none;
    color: #e7bc0e;
    font-family: 'Mr Dafoe', cursive;
    font-size: 1.9rem;
    display: inline-block;
    margin-top: 10%;
}

.roma-intro a:hover {
    color: #cb91b6;
    transition: .5s;
}

#arrow {
    transform: rotate(90deg);
    background-color: transparent;
    color: #e7bc0e;
    display: inline-block;
    padding-bottom: 30px;
    padding-right: 20px;
}

.takeAction-wrapper {
    text-align: right;
    margin-right: 8%;
    padding-top: 1.5%;
}

.takeAction-link {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    border-bottom: 2px solid #e7bc0e;
    padding-bottom: .5%;
    color: #fff;
    letter-spacing: .2em;
    display: inline;
}

.takeAction-wrapper:hover .takeAction-link {
    color: #e7bc0e;
}

.takeAction-img {
    width: 1.5%;
    margin-right: 1%;
    display: inline-block;
    transition: transform 1s;
}

.takeAction-wrapper:hover .takeAction-img {
    transform: scale(1.5);
}

.roma span {
    color: #fff;
    background-color: rgb(41, 40, 40);
    padding: .1rem;
}

.domestic-wrapper {
    color: #6bc1a3;
    width: 69%;
    line-height: 4.9rem;
    font-weight: bold;
    padding-top: 42%;
    margin: 0 auto;
    margin-bottom: 45%;
    font-size: 2.5rem;
}

.numbers {
    color: #e7bc0e;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20%;
    font-weight: bold;
    text-transform: uppercase;
}

.numbers img {
    width: 26%;
    margin-bottom: 14%;
}

.numbers p:first-of-type {
    font-size: 12.5rem;
}

.numbers p:nth-of-type(2) {
    font-size: 3.5rem;
}

.payment {
    color: #cb91b6;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20%;
    font-weight: bold;
    text-transform: uppercase;
}

.payment img {
    width: 26%;
    margin-bottom: 14%;
}

.payment p:first-of-type {
    font-size: 3.5rem;
    font-weight: bold;
}

.payment p:nth-of-type(2) {
    font-size: 12.5rem;
}

.health-insurance {
    color: #6bc1a3;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 19%;
    font-weight: bold;
    text-transform: uppercase;
}

.health-insurance img {
    width: 26%;
    margin-bottom: 14%;
}

.health-insurance p:first-of-type {
    font-size: 12.5rem;
}

.health-insurance p:nth-of-type(2) {
    font-size: 3.5rem;
    font-weight: bold;
}

.unsung-heroes {
    color: #7eb8e1;
    width: 69%;
    line-height: 4.9rem;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 30%;
    padding-bottom: 13%;
}

.kids-image {
    background: url(../img/kid.png) center/cover no-repeat, url(../img/see.png) center/cover no-repeat;
    height: 100vh;
}

.donate {
    height: 100vh;
    background-color: #000;
    padding-top: 25%;
    padding-bottom: 20%;
}

.donate-wrapper {
    width: 80%;
    font-size: 7.3rem;
    margin: 0 auto;
}

.donate-wrapper a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-size: 3rem;
    display: inline-block;
    margin-top: 10%;
    border: 2.7px solid #fff;
    border-radius: 3px;
    padding: 1.7% 4.3%;
}

.donate-wrapper a:hover {
    box-shadow: 3px 3.5px 1px #fff;
}

footer {
    background-color: #000;
    padding-top: 10%;
}

footer p {
    width: 25%;
    margin: 0 auto;
    padding-bottom: 3%;
    font-family: 'Roboto';
    font-size: 1.2rem;
}

footer a {
    color: #6bc1a3;
    text-decoration: none;
    padding-left: 1%;
}

footer a:hover {
    text-decoration: underline;
}